{% extends "index.html" %}
{% block main %}
<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" itemprop="datePublished">
        {{ page.date | date(format="%d %b %Y") }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>
    <div class="feat share">
      <a href="http://twitter.com/share" class="popup">
      <span class="icon-twitter"></span>
      </a>
    </div>
    {% if page.later %}
    <a rel="next" href="{{ page.later.permalink }}" id="next">
      <span class="nav-title nav-title-next">newer</span> &rarr;
    </a>
    {% endif %}
    {% if page.earlier %}
    <a rel="prev" href="{{ page.earlier.permalink }}" id="prev">
       &larr;<span class="nav-title nav-title-prev">older</span>
    </a>
    {% endif %}
  </article>
</section>
{% endblock main %}
